
@{
    ViewBag.Title = "Sodoweb";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tygh-content clearfix">
    <div class="container-fluid  content-grid">
        <div class="row-fluid ">
            <div class="span16 breadcrumbs-grid">
                <div id="breadcrumbs_73">

                    <div class="ty-breadcrumbs clearfix">
                        <a href="http://thuyhaisancamau.com/" class="ty-breadcrumbs__a">Trang chủ</a><span class="ty-breadcrumbs__slash">/</span><span class="ty-breadcrumbs__current">Sơ đồ Website</span>
                    </div>

                    <!--breadcrumbs_73-->
                </div>
            </div>
        </div><div class="row-fluid ">
            <div class="span16 main-content-grid">
                <div class="ty-mainbox-container clearfix">
                    <h1 class="ty-mainbox-title">

                        Sơ đồ Website


                    </h1>
                    <div class="ty-mainbox-body">
                        <div class="ty-sitemap">
                            <div class="ty-sitemap__section">
                                <h2 class="ty-sitemap__section-title">Thông tin website</h2>
                                <div class="ty-sitemap__section-wrapper">
                                    <h3 class="ty-sitemap__section-sub-title">Thông tin</h3>
                                    <ul>

                                        @foreach (var item in ViewBag.Teninfo)
                                        {
                                        <li>
                                            <a href="@Url.Action("infomation", "Home", new { id = item.id })">@item.TenTT</a>
                                        </li>

                                        }
                                    </ul>
                                </div>
                                <div class="ty-sitemap__section-wrapper">
                                    <h3 class="ty-sitemap__section-sub-title">My account</h3>
                                    <ul>
                                        <li><a href="@Url.Action("ProfileUpdate","User")">Edit profile</a></li>
                                        <li><a href="@Url.Action("GioHang","ShoppingCart")">View cart</a></li>
                                        <li><a href="@Url.Action("DatHang", "ShoppingCart")">Checkout</a></li>
                                        <li><a href="~/Home/#">Wish List</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="ty-sitemap__section">
                                <h2 class="ty-sitemap__section-title">Danh mục</h2>
                                <div class="ty-sitemap__tree">
                                    <div class="ty-sitemap__tree-section">
@foreach (var item in ViewBag.Tenmenutop)
{
                                        <ul class="ty-sitemap__tree-section-list">
                                            <li class="ty-sitemap__tree-list-item parent"><a href="@item.url" class="ty-strong">@item.TenMenu</a></li>
                                        </ul>
}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>